:root {
  --cor-footer: #535971;
  --cor-fundo: #E5E5E5;
  --cor-botao: #FF5374;
  --cor-texto-footer: #FFFFFF;
  --cor-texto-descricao: #4E4958;
  --cor-texto-sugestao: #C1BCCC;
  --cor-texto-hover: #706f70;
  --cor-fundo-input: #FAFAFC;
  --cor-fundo-borda: #E6E6F0;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--cor-texto-descricao);
}

body {
  background: var(--cor-fundo);
}

body::before {
  content: '';
  width: 100%;
  height: 436px;
  background: var(--cor-footer);
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
}


/* CABEÇALHO */
.cabecalho__titulo, fieldset legend, .titulo__mentoria, .button {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
}

.cabecalho {
  width: 417px;
  margin-top: 140px;
}

.cabecalho__titulo, legend, .titulo__mentoria, footer input {
  font-family: 'Staatliches', cursive;
}

.cabecalho__titulo {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: var(--cor-texto-footer);

  margin-bottom: 18px;
}

.cabecalho__texto {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--cor-texto-footer);

  margin-bottom: 58px;
}


/* FORMULÁRIO */
form {
  background: var(--cor-texto-footer);
  border-radius: 20px 20px 0px 0px;

  min-height: 345px;
  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  font-size: 24px;
  line-height: 34px;
  color: var(--cor-footer);

  width: 100%;
  border-bottom: 1px solid var(--cor-fundo-borda);
  padding-bottom: 8px;
}

.name__surname {
  display: flex;
  gap: 22px;
}

.name__surname input {
  width: 300px;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
}

.input__wrapper label { /* estilização do título do campo */
  font-size: 14px;
  line-height: 24px;
  color: var(--cor-texto-descricao);

  margin-bottom: 8px;
}

.input__wrapper label span { /* estilização do título do campo sugestão */
  font-size: 12px;
  line-height: 20px;
  color: var(--cor-texto-sugestao);

  margin-left: 5px;
}

.input__wrapper label span:hover { /* para acessibilidade */
  color: var(--cor-texto-hover);
}

.input__wrapper input { /* estilização do campo */
  background: var(--cor-fundo-input);
  border: 1px solid var(--cor-fundo-borda);
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;
  color: var(--cor-texto-hover);
}

.input__wrapper input::-webkit-datetime-edit{
  min-width: 100%;
  width: 100%;
}

.titulo__mentoria {
  font-size: 20px;
  line-height: 34px;
  color: #535971;
}

.mentoring__schedule {
  display: flex;
  gap: 10px;
}

.mentoring__schedule > div:nth-child(1) {
  width: 100%;
  margin-right: 22px;
}

input:invalid {
  border: 1px solid var(--cor-texto-descricao);
}

/* RODAPÉ */
footer {
  background: var(--cor-footer);
  border-radius: 0px 0px 20px 20px;
  
  height: 160px;
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;
  
  padding: 52px 71px;
  
}

footer .button {
  height: 56px;
  background: var(--cor-botao);
  border-radius: 20px;
  border: none;

  font-size: 20px;
  line-height: 26px;
  color: var(--cor-texto-footer);

  padding: 15px 40px;

  cursor: pointer;
}

footer .button:hover {
  background: #F73F64;
}